# Ignore Python virtual environments
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Ignore OS or editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore environment and build files
*.log
*.sqlite3
instance/
.mypy_cache/
.pytest_cache/
